[submodule "fast-task-server"]
	path = fast-task-server
	url = https://github.com/XPDD/fast-task.git
[submodule "fast-task-ui"]
	path = fast-task-ui
	url = https://github.com/XPDD/fast-task-ui.git
[submodule "openclaw-plugin-fast-task"]
	path = openclaw-plugin-fast-task
	url = https://github.com/XPDD/openclaw-plugin-fast-task.git
